.layout-btn {
    .btn {
        font-size: 1.6rem;
        border   : 1px solid;
        min-width: 150px;


        &:hover {
            opacity: 0.8;
        }
    }
}

.layout-header {
    margin-top: 40px;

    .temperature {
        display        : flex;
        justify-content: space-between;

        div {
            display    : flex;
            align-items: center;
            gap        : 10px;

            button {
                font-size      : 1.8rem;
                width          : 40px;
                height         : 40px;
                display        : flex;
                border-radius  : 8px;
                justify-content: center;
                align-items    : center;
                font-weight    : 600;
                border         : 1px solid #ccc;

                &.active {
                    background-color: #ee4d2d;
                    color           : #fff;
                }

                sub {
                    bottom: 0.25rem;
                }
            }
        }

    }


    .search {
        margin-top: 30px;
        position  : relative;

        input {
            font-size    : 1.4rem;
            height       : 38px;
            font-weight  : 500;
            padding-left : 10px;
            border-radius: 6px;
        }

        .render-result-and-related {
            position                  : absolute;
            border                    : 1px solid #ddd;
            width                     : 100%;
            border-top                : 0;
            border-bottom-left-radius : 10px;
            border-bottom-right-radius: 10px;
            max-height                : 200px;
            overflow                  : hidden;
            background                : #fff;
            z-index                   : 100000;
            box-shadow                : 2px 6px 6px 0 rgba(0, 0, 0, 0.06);

            ul {
                height    : 100%;
                overflow  : auto;
                font-size : 1.4rem;
                max-height: 200px;

                li {
                    padding: 10px;

                    &:hover {
                        color           : #ee4d2d;
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }
    }

}

.main-layout {
    position      : relative;
    margin-top    : 30px;
    font-size     : 1.65rem;
    letter-spacing: 1.3px;

    .background {
        position     : absolute;
        z-index      : -1;
        height       : auto;
        overflow     : hidden;
        width        : 100%;
        border       : #999;
        border-radius: 5px;

        img,
        video {
            filter    : blur(10px);
            width     : 100%;
            height    : 100%;
            object-fit: cover;
        }
    }

    .layout-top {
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    .layout-btn {
        .weather-5days {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            margin-top     : 10px;

            &>div {
                div:first-child {
                    font-size  : 2.5rem;
                    font-weight: 600;
                    font-style : italic;
                }
            }
        }
    }
}


.layout-table {
    .main-table {
        .table {
            width     : 100%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

            tr {
                &:hover {
                    background-color: #ddd;
                }

                th {
                    height    : 70px;
                    text-align: center;

                    p {
                        font-weight: 500;
                        font-size  : 1.5rem;
                    }
                }
            }
        }
    }
}